@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
html, body {
    margin: 0;
    padding: 0;
}
html, body, textarea {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: linear-gradient(to right top, #1879d8, #00a6ef, #00cac7, #00e375, #dceb12);
    background-size: cover;
    min-height: 100vh;
}

.App {
    text-align: center;
}
